<div *ngIf="monster" class="battlestats-container">
  <div class="flex row main-header">
    <strong>{{ monster.nickname ?? monster.base.name }}</strong>
    <div class="flex row">
      <strong>L: {{ monster.level }}</strong>
      <strong>{{ monster.battleHealth }}/{{ monster.getStatValue(HP) }}</strong>
    </div>
  </div>
  <hr />
  <div class="flex row wrapper">
    <div class="flex col">
      <strong>Stat</strong>
      <strong
        *ngFor="let stat of monster.EV | keyvalue: sortNull"
        class="sub-label"
        >{{ stat.key }}:</strong
      >
    </div>
    <div class="flex col wrapper">
      <strong>EV</strong>
      <p *ngFor="let stat of monster.EV | keyvalue: sortNull">
        {{ stat.value }}
      </p>
    </div>
    <div class="flex col wrapper">
      <strong>IV</strong>
      <p *ngFor="let stat of monster.IV | keyvalue: sortNull">
        {{ stat.value }}
      </p>
    </div>
    <div class="flex col wrapper">
      <strong>SS</strong>
      <p>n/a</p>
      <p *ngFor="let stat of monster.statStages | keyvalue: sortNull">
        {{ stat.value }}
      </p>
    </div>
    <div class="flex col wrapper">
      <strong>Base</strong>
      <p *ngFor="let stat of monster.base.stats | keyvalue: sortNull">
        {{ stat.value }}
      </p>
    </div>
    <div class="flex col wrapper">
      <strong>Calc</strong>
      <p *ngFor="let stat of monster.getBattleStats() | keyvalue: sortNull">
        {{ stat.value }}
      </p>
    </div>
  </div>
  <hr />
  <p>Status</p>
  <div class="flex row start wrapper">
    <strong class="sub-label">NVol:</strong>
    <p>{{ monster.status.nonVStatus }}</p>
  </div>
  <div class="flex row start wrapper">
    <strong class="sub-label">Vol:</strong>
    <p *ngFor="let status of monster.status.nonVStatus | keyvalue: sortNull">
      {{ status.value }}
    </p>
  </div>
  <div class="flex row start wrapper">
    <strong class="sub-label">Self:</strong>
    <p *ngFor="let status of monster.status.nonVStatus | keyvalue: sortNull">
      {{ status.value }}
    </p>
  </div>
</div>
