* {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}



.hp-bar-label {
  font-size: 1.1rem !important;
  width: 2.25rem !important;
  height: min-content;
}

.hp {
  padding-right: 0.354375rem !important;
  padding-top: 0.354375rem !important;
}
.hp-bar-outline {
  justify-self: center;
  align-self: center;
  width: 9.375rem;
  height: 0.375rem !important;
  outline: 0.25rem solid black;
  border-radius: 1.5625rem;
  overflow: hidden;
}

.hp-bar {
  background-color: rgb(179, 0, 0);
  height: 100%;
}

.hp-num {
	font-size: 1.25rem;
  width: calc(100% - 0.354375rem) !important;
  padding-right: 0.354375rem !important;
  transform: translateY(-0.25rem);
}

strong,
.f-bold {
//   font-size: 0.86rem;
}

p {
  height: 1.5625rem;
  width: calc(100%);
  margin: 0;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.f-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.level-l {
  font-size: 1.2rem;
  width: 190%;
  transform: translateY(0.5rem);
}

.level-r {
	font-size: 1.5rem;
  transform: translateY(0.25rem);
}
