.battlecache-container {
  //   width: 300px;
  //   max-height: 90vh;
  height: 90%;
  overflow-y: scroll !important;
  margin-left: 0.625rem;
  padding: 0.625rem;
  outline: 0.1875rem solid black;
}

.battlecache-container * {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
//   font-size: 2.25rem;
}

.header p:nth-child(3) {
//   font-size: 2.125rem;
}

.content {
  width: 100%;
  //   font-size: 16px !important;
  display: flex;
  justify-content: space-between;
}

.content strong {
  min-width: 67%;
  text-align: right;
}

.content p {
  min-width: 33%;
  text-align: left;
  padding-left: 0.3125rem;
}

.battlecache-container hr {
  margin: 0.5rem 0 !important;
}
