* {
//   font-size: 0.85rem;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.justify-around {
  justify-content: space-around;
}

.overview-container {
  width: 31.25rem;
  // height: 90vh;
  border: 0.3125rem ridge black;
  padding: 0.625rem;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  margin: 0.625rem;
  margin-top: 1.25rem;
  text-decoration: underline;
}

.ta-center {
  text-align: center;
}

h4 {
  margin-bottom: 0;
  padding-top: 1%;
}

h3,
h4:not(.type) {
  margin-top: 0.3125rem;
  margin-right: 0.5rem;
}

h3 + h4 {
  margin-right: 0.625rem;
  font-weight: normal;
}

li {
//   font-size: 0.8rem;
}
