.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

main > div > div:first-child {
    display: grid;
    // grid-template-columns: 12.5rem 4.6875rem;
    grid-gap: 0;
}

main {
    // min-width: 100vw;
    // max-width: 100vw;
    // min-height: 100vh;
    // max-height: 100vh;
}

app-square {
    border: 0.0625rem gray solid;
    height: 12.5rem;
}

